@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";
    var isLogin = false;

    var products = new List<dynamic>();
    var productItems = CurrentPage.productItem.OrderBy("publishDate desc, createDate desc");
    foreach (var item in productItems)
    {
        products.Add(item);
    }
    var productsPage = CurrentPage.AncestorsOrSelf(2).First();

    var categoriesPage = productsPage.productCategory.First();

    var count = 0;

}
<div class="gallery w3" id="gallery">
    <div class="container">
        <div class="gallery-main">
            <div class="gallery-top">
                <h2>Products</h2>
                <h5><a href="/products">Products</a><span>&nbsp;>&nbsp;</span><a href="javascript:void(0)">@categoriesPage.name</a> <span> &nbsp;> @CurrentPage.name</span></h5>
            </div>
            
            @if (products.Count > 0)
            {
                <div class="gallery-bott">
                    @foreach (var item in products)
                    {
                        count++;
                        <div class="col-md-4 col1" id="@count" style="margin-bottom: 30px;@(count <= 6 ? string.Empty : "display: none;")">
                            <a href="@item.Url">
                                <figure class="effect-bubba">
                                    <img class="img-responsive" src="@item.image" alt="">
                                    <figcaption>
                                        <h4 class="gal"> @item.name</h4>
                                        <p class="gal1">@item.description</p>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    }
                    <div class="clearfix"> </div>
                </div>
                if (count > 6)
                {
                    <div class="gallery-top">
                        <h2>
                            <a href="javascript:void(0)" class="seemoreproduct">See more</a>
                        </h2>
                    </div>
                }

            }
            else
            {
                <div class="gallery-top">
                    <p>There are no assigned products for this category.</p>
                </div>
            }

        </div>
    </div>
</div>