@inherits UmbracoViewPage<SizingModel>
@{
    Layout = "PortalLayout.cshtml";
}

<section>
    <header class="main">
        <h1>@Model.ProductName</h1>
    </header>

    @using (Html.BeginForm("SizingStep1", "Products", FormMethod.Post))
    {
        <div class="row uniform box 10u$" style="margin: 0 auto">
            <div class="12u 12u$(small)">
                <h3>JXP @Model.ProductName Sizing. Please enter the information below</h3>
                @Html.HiddenFor(m => m.ProductId)
                @Html.HiddenFor(m => m.ProductName)
            </div>
            <div class="4u 12u$(small)">
                <span>Operating Temp:</span>
            </div>
            <div class="4u 12u$(small)">
                @Html.DropDownList("UnitTemp")
            </div>
            <div class="4u$ 12u$(small)">
                @Html.TextBoxFor(m => m.CTemp, new { type = "number", min = "0", step = "0.001" })
            </div>
            <!-- Break -->
            <div class="4u 12u$(small)">
                <span>Operating Pressure:</span>
            </div>
            <div class="4u 12u$(small)">
                @Html.DropDownList("UnitPress")
            </div>
            <div class="4u$ 12u$(small)">
                @Html.TextBoxFor(m => m.CPress, new { type = "number", min = "0", step = "0.001" })
            </div>
            <!-- Break -->
            <div class="4u 12u$(small)">
                <span>Comp Factor,Z</span>
            </div>
            <div class="4u 12u$(small)">

            </div>
            <div class="4u$ 12u$(small)">
                @Html.TextBoxFor(m => m.CZcomp, new { type = "number", min = "1", step = "0.001" })
            </div>
            <!-- Break -->
            <div class="4u 12u$(small)">
                <span>Gas Density:</span>
            </div>
            <div class="4u 12u$(small)">
                @Html.DropDownList("UnitDenG")
            </div>
            <div class="4u$ 12u$(small)">
                @Html.TextBoxFor(m => m.CDenG, new { type = "number", min = "0", step = "0.001" })
            </div>
            <!-- Break -->
            <div class="4u 12u$(small)">
                <span>Gas Viscosity:</span>
            </div>
            <div class="4u 12u$(small)">
                @Html.DropDownList("UnitViscG")
            </div>
            <div class="4u$ 12u$(small)">
                @Html.TextBoxFor(m => m.CViscG, new { type = "number", min = "0", step = "0.001" })
            </div>
            <!-- Break -->
            <div class="4u 12u$(small)">
                <span>Liquid Density:</span>
            </div>
            <div class="4u 12u$(small)">
                @Html.DropDownList("UnitDenL")
            </div>
            <div class="4u$ 12u$(small)">
                @Html.TextBoxFor(m => m.CDenL, new { type = "number", min = "0", step = "0.001" })
            </div>
            <!-- Break -->
            <div class="4u 12u$(small)">
                <span>Liquid Viscosity:</span>
            </div>
            <div class="4u 12u$(small)">
                @Html.DropDownList("UnitViscL")
            </div>
            <div class="4u$ 12u$(small)">
                @Html.TextBoxFor(m => m.CViscL, new { type = "number", min = "0", step = "0.001" })
            </div>
            <!-- Break -->
            <div class="4u 12u$(small)">
                <span>Gas Flowrate:</span>
            </div>
            <div class="4u 12u$(small)">
                @Html.DropDownList("UnitFlowG")
            </div>
            <div class="4u$ 12u$(small)">
                @Html.TextBoxFor(m => m.CQGas, new { type = "number", min = "0", step = "0.001" })
            </div>
            <!-- Break -->
            <div class="4u 12u$(small)">
                <span>Liquid Flowrate:</span>
            </div>
            <div class="4u 12u$(small)">
                @Html.DropDownList("UnitFlowL")
            </div>
            <div class="4u$ 12u$(small)">
                @Html.TextBoxFor(m => m.CQLiq, new {type = "number", min = "0", step = "0.001"})
            </div>
            <!-- Break -->
            <div class="4u 12u$(small)">
                <span>Element Requested:</span>
            </div>
            <div class="8u$ 12u$(small)">
                @Html.DropDownList("JHFSELEM")
            </div>
            <!-- Break -->
            <div class="12u$">
                <ul class="actions" style="float: right">
                    <li><input type="reset" value="Reset" /></li>
                    <li><input type="submit" value="Submit" class="special" /></li>
                </ul>
            </div>
        </div>
    }
</section>