@inherits UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";

    // If the editor has not explicitly provided the "Page title" property page
    // then just show the name of the page otherwise show the provided title
    var pageTitle = string.IsNullOrWhiteSpace(CurrentPage.Title)
        ? CurrentPage.Name
        : CurrentPage.Title;

    // Model.Content is the current page that we're on
    // AncestorsOrSelf is all of the ancestors this page has in the tree
    // (1) means: go up to level 1 and stop looking for more ancestors when you get there
    // First() gets the first ancestor found (the home page, on level 1)
    var homePage = CurrentPage.AncestorsOrSelf(1).First();

    // Find all pages with document type alias umbNewsOverview
    // We do that using the plural, umbNewsOverviews (note the extra "s" in the end)
    // Then take the first one, as we know there will only be on news overview page
    var updateOverview = homePage.updateOverview.First();

    // Similar to above: find all pages with document type umbNewsItem under the news overview page
    // Then order them, first by publishDate (a property the editor can explicitly set on the news item)
    // and then by createDate, which is set by Umbraco automatically when a page gets created.
    var updateItems = updateOverview.updateItems.OrderBy("publishDate desc, createDate desc");
}
<div class="about agileinfo">
    <div class="container">
        <div class="about-main w3l-a">
            <div class="about-top">
                <h2>Updates</h2>
                @{
                    var count = 0;
                    foreach (var item in updateItems)
                    {
                        count++;
                        // If the editor has not explicitly provided the "Page title" property page
                        // then just show the name of the page otherwise show the provided title
                        var title = string.IsNullOrWhiteSpace(item.Title)
                            ? item.Name
                            : item.Title;

                        // If the editor has not explicitly set the publishDate property then show the create date
                        var dateTime = item.PublishDate == default(DateTime)
                            ? item.CreateDate
                            : item.PublishDate;
                        if (count <= 5)
                        {
                            <div id="@count" style="margin-bottom: 30px;">
                                <div class="col-md-4 abouttop-left">
                                    <a href="@item.Url"><img src="@item.Image" alt="" class="img-responsive"></a>
                                </div>
                                <div class="col-md-8 abouttop-right">
                                    <h4><a href="@item.Url">@title</a></h4>
                                    <p>@Umbraco.Truncate(item.BodyText, 200)</p>
                                    <p>&nbsp;</p>
                                    <p>&nbsp;</p>
                                    <p>&nbsp;</p>

                                </div>
                                <div class="clearfix"> </div>

                            </div>
                        }
                        else
                        {
                            <div id="@count" style="display: none; margin-bottom: 30px;">
                                <div class="col-md-4 abouttop-left">
                                    <a href="@item.Url"><img src="@item.Image" alt="" class="img-responsive"></a>
                                </div>
                                <div class="col-md-8 abouttop-right">
                                    <h4><a href="@item.Url">@title</a></h4>
                                    <p>@Umbraco.Truncate(item.BodyText, 200)</p>
                                    <p>&nbsp;</p>
                                    <p>&nbsp;</p>
                                    <p>&nbsp;</p>

                                </div>
                                <div class="clearfix"> </div>

                            </div>
                        }
                    }
                }
                <h2><a href="javascript:void(0)" class="seemore">See more</a></h2>
            </div>
        </div>
    </div>
</div>
