@inherits UmbracoViewPage<UserProductsModel>
@{
    Layout = "PortalLayout.cshtml";
}

<!-- Company -->
@if (Model.Company != null)
{
    <section id="banner">
        <div class="content">
            <header>
                <h1>
                    @Model.Company.Name
                </h1>
                <p>@Model.Company.GetPropertyValue("address")</p>
            </header>
            <p>@Model.Company.GetPropertyValue("description")</p>
            <ul class="actions">
                <li><a href="javascript:void(0)" class="button big">Learn More</a></li>
            </ul>
        </div>
        <span class="image object">
            <img src="@Url.GetCropUrl(Model.Company, "image", "Image Company")" alt="" />
        </span>
    </section>
}


<!-- Product -->

<section>
    <header class="major">
        <h2>Products</h2>
    </header>

    <div class="posts" data-pageindex="1">
        @if (Model.Products != null && Model.Products.Any())
        {
            foreach (var item in Model.Products)
            {
                <article>
                    <a href="javascript:void(0)" class="image"><img src="@Url.GetCropUrl(item, "image", "Image Product")" alt="" /></a>
                    <h3>@item.Name</h3>
                    <p>@item.GetPropertyValue("description")</p>
                    <ul class="actions">
                        <li><a href="@Url.Action("Detail","Products", new {id = item.UrlName})" class="button">More</a></li>
                    </ul>
                </article>
            }
        }
        else
        {
            <article>
                <p>There are no assigned products for your company.</p>
            </article>
        }
    </div>
</section>
